<div ng-include src="'views/_navbar.html'"></div>
<div ng-show="isConnected">
	<div class="row">
		<div class="span3">
			<div groo-facebook-user></div>
		</div>
		<div class="span9">
			<div groo-facebook-friendlist></div>
		</div>
	</div>
</div>
<div class="hero-unit" ng-show="!isConnected">
	<h2>angular-facebook</h2>
	<br/>
	<p>You can login with your facebook account...to see how it works!</p>
</div>
<!-- <pre ng-cloak>
	user:{{user}}
	auth:{{auth}}
	isConnected: {{isConnected}}
	lastResponse: {{lastResponse}}
</pre>	 -->